.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    h1{
        text-align: left;
    }
}

.user-box{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: left;
    padding: 0 20px;
}