.customer{
    margin-top: 10vh;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .action{
        display: flex;
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: center;
        button{
            height: 50px;
        }
    }

    hr{
        margin-top: 50px;
    }

    table{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    button{
        margin: 2px 0px 0px 5px;
        background-color: #008CBA;
        border: none;
        padding: 10px 10px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        color: #fff;
        a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
        }
    }
    button:hover{
        background-color: #caf0f8;
        color: #272727;
        a{
            color: #272727;
        }
    }
}

